@use '@renderer/assets/colors.scss' as Colors;

.container {
  display: grid;
  padding: 1vh 10vh;
  grid-template-columns: 120vh 25vh 50vh 30vh 50vh;
  gap: 2vh;
  align-items: center;
  position: relative;
  color: Colors.$white;
  width: 100%;
  justify-content: space-between;

  .basic-info {
    display: flex;
    align-items: center;
    gap: 5vh;

    .position {
      background-color: Colors.$white;
      width: 16vh;
      height: 15vh;
      color: Colors.$black;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 1vh;

      p {
        font-size: 10vh;
      }
    }

    .color {
      width: 3vh;
      height: 14vh;
      border-radius: 99999px;
    }

    p {
      font-size: 10vh;
    }
  }

  .tyre {
    display: grid;
    place-items: center;

    img {
      height: 13vh;
    }
  }

  .gap {
    display: grid;
    place-items: center;

    p {
      font-size: 9vh;
      font-family: 'InterRegular';
    }
  }

  .drs {
    display: grid;
    place-items: center;

    p {
      border: 1vh solid transparent;
      border-radius: 2vh;
      padding: 1vh 2vh;
      font-size: 8vh;
    }
  }

  .lap {
    display: grid;
    place-items: center;

    p {
      font-size: 9vh;
    }
  }
}
