@use '@renderer/assets/colors.scss' as Colors;

.container {
  background-color: transparent;
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: flex-end;
  border-radius: 5vh;
  overflow: hidden;

  .headshots {
    display: flex;
    height: 60vh;
    align-items: flex-end;
    background-color: Colors.$black-translucent;
    border-radius: 5vh 0 0 5vh;

    img {
      height: 100vh;

      &:not(:last-child) {
        margin-right: -50vh;
      }
    }
  }

  .data {
    background-color: Colors.$black-translucent;
    border-radius: 0 5vh 5vh 0;
    height: 60vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
