* {
    margin: 0;
    padding: 0;
    font-family: "Exo2", Arial, Helvetica, sans-serif;
    font-weight: 800;
    color: white;
}

body {
    -webkit-app-region: drag;
    height: 100vh;
}

.transparent {
    background-color: transparent !important;
}

.driver-tag {
    text-align: center;
    width: 100px;
}

.row:nth-child(odd) {
    background-color: #2a2a2a;
}

.row:nth-child(even) {
    background-color: #121212;
}

.row {
    display: flex;
    align-items: center;
    height: 54px;
    padding-right: 20px;
}

.stints {
    display: flex;
    width: 100%;
}

.stint {
    width: 70px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.stint img {
    width: 22px;
}

.driver-tag {
    display: none !important;
}
