.container {
  * {
    font-family: 'InterBold';
    color: white;
    text-align: center;
  }

  display: flex;
  flex-direction: column;
  align-items: center;

  p,
  h3 {
    display: flex;
    gap: 5px;
    align-items: center;
  }
}
