.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: auto;
  gap: 25px;
  backdrop-filter: blur(30px);
  height: 100%;
  padding: 5vw 0;
}

section.settings {
  top: 0;
  position: fixed;
  z-index: 4;
  width: 100vw;
  max-height: 0;
  overflow: hidden;
  background-color: var(--black-translucent) !important;
}

.session-part {
  background-color: var(--gray-translucent);
  width: 90%;
  border-radius: 20px;
  border: 2px solid var(--light-gray);
  padding: 10px 15px;
}

.session-part h2 {
  font-family: 'InterBold';
  font-size: 20px;
  color: white;
  text-align: center;
  margin: 10px 0;
}

.setting {
  margin: 30px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}

.setting-header h3 {
  font-family: 'InterMedium';
  font-size: 16px;
  font-weight: normal;
  color: white;
}

.setting-header p {
  font-family: 'InterMedium';
  font-size: 12px;
  color: var(--lighter-gray);
  margin: 0;
}

.extended {
  max-height: 100vh !important;
}
