* {
    margin: 0;
    padding: 0;
}

body {
    background-color: gray;
    -webkit-app-region: drag;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

.transparent {
    background-color: transparent !important;
}

/* Container and animations */

#container li {
    height: 0;
    margin-bottom: 0;
    overflow: hidden;
    transition: all 0.5s ease-in-out;
}

#container li.show {
    height: 37vw !important;
    margin-bottom: 5px;
}
/* General time styling */
.improved-time,
.pushlap {
    background-color: #0a0a0f;
    margin-bottom: 2vw;
}

/* Header styling */
.header {
    display: flex;
    background-color: white;
    color: black;
    height: 10vw;
    width: 100vw;
}

.icon {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vw;
    width: 10vw;
}

.icon img {
    height: 9vw;
}

.position {
    width: 10vw;
    height: 10vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.position p {
    font-family: "OF1Regular", Arial, Helvetica, sans-serif;
    transform: skew(-10deg);
    font-size: 5vw;
    width: 5vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.name {
    width: 70vw;
    height: 10vw;
    display: flex;
    align-items: center;
}

.name p {
    font-size: 6vw;
    padding-left: 2vw;
}

.tire {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10vw;
    height: 10vw;
    float: right;
    background-color: #00000a;
}

.tire p {
    font-family: "OF1Regular", Arial, Helvetica, sans-serif;
    transform: skew(0deg);
    font-size: 4.5vw;
}

/* Time styling */
.times {
    height: 16vw;
    display: flex;
}

.personal,
.target {
    width: 50vw;
}

.personal {
    border-right: 0.1vw solid #2d2d33;
    display: flex;
    justify-content: center;
    align-items: center;
}

.personal p {
    font-size: 8.5vw;
}

.target {
    border-left: 0.1vw solid #2d2d33;
    gap: 3vw;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.target p {
    font-size: 4vw;
}

.target-name p {
    font-size: 3vw;
    color: #5b5b5d;
}

.top,
.bottom {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

/* Sector styling */
.sectors {
    border-top: 0.2vw solid #2d2d33;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.sector {
    width: 100%;
    padding: 0 1vw 1vw;
}

#sector1 {
    border-left: 0.1vw solid #2d2d33;
    border-right: 0.1vw solid #2d2d33;
}

.sector-times {
    display: flex;
    justify-content: space-evenly;
}

.sector-time {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
    font-size: 4.5vw;
    margin: 1.5vw 0;
}

.sector-delta {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
    font-size: 3vw;
}

.sector-color {
    height: 1vw;
}

.sectors p {
    font-family: "OF1Regular";
}

p {
    font-family: "OF1Bold";
    transform: skew(-10deg);
}

/* New styling */
.segments {
    display: flex;
    width: 100%;
    height: 1vw;
    gap: 1vw;
}

.segment {
    background-color: #5b5b5d;
    width: 100%;
}
