$black: #000000;
$white: #ffffff;
$light-gray: #9f9f9f;
$light-gray-translucent: #9f9f9f5e;
$lighter-gray: #8a8a8a;
$gray: #313131;
$gray-translucent: #3131315e;
$darker-gray: #1f1f1f;
$dark-gray: #0f0f0f;
$black-translucent: #00000080;
$black-heavy-translucent: #000000b6;
$white-transparent: #ffffff05;
$connected: #5eff5e;
$disconnected: #ff3e3e;

$white-button-disabled: #ffffff40;
$white-button: #ffffff;

$beta-button: #c76cff;
$dev-button: rgb(61, 61, 255);

$default-button: #ff3232;
$default-button-disabled: #9f313162;

$light-green: #00a800;
$blue: #0042bd;
$red: #ff0000;
