:root {
  --white: #ffffff;
  --light-gray: #9f9f9f;
  --light-gray-translucent: #9f9f9f5e;
  --lighter-gray: #8a8a8a;
  --gray: #313131;
  --gray-translucent: #3131315e;
  --dark-gray: #0f0f0f;
  --black-translucent: #00000080;
  --white-transparent: #ffffff05;
  --connected: #5eff5e;
  --disconnected: #ff3e3e;
  --default-button: #ff3232;
  --default-button-disabled: #9f313162;
  --beta-button: #c76cff;
  --white-button: #ffffff;
  --white-button-disabled: #ffffff40;

  --light-green: #00a800;
}
