.input {
  all: unset;
  background-color: var(--light-gray-translucent);
  border-radius: 5px;
  padding: 5px;
  font-family: 'InterMedium';
  font-size: 14px;
  color: var(--white);
  border: 2px solid transparent;
  transition: all 0.3s ease;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.input:focus {
  border-color: var(--light-gray);
}
