#move_mode_info {
    border: 4px solid white;
    border-radius: 20px;
    height: calc(100% - 8px);
    width: calc(100% - 8px);
    position: absolute;
    top: 0;
    background-color: rgba(0, 0, 0, 0.74);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#move_mode_info h1 {
    font-size: 40px !important;
    margin: 2vh 0;
    font-family: "SFBold";
    width: 90% !important;
    text-align: center;
}

#move_mode_info p {
    opacity: 0.8;
    font-size: 15px !important;
    margin: 2vh 0;
    font-family: "SFRegular";
    width: 90% !important;
    text-align: center;
}
