/* Base styling */
* {
    margin: 0;
    padding: 0;
    color: white;
}

body {
    height: 100vh;
    background-color: gray;
    -webkit-app-region: drag;
}

.container {
    background-color: #0a0a0faf;
    border-radius: 20px;
    height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.transparent {
    background-color: transparent;
}

.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 55vh;
}

h1 {
    font-family: "SFBold", Arial, Helvetica, sans-serif;
    font-size: 25px;
}

h2 {
    font-family: "SFBold", Arial, Helvetica, sans-serif;
    font-size: 20px;
}

p {
    color: green;
    border: 2px solid green;
    border-radius: 10px;
    font-family: "SFRegular", Arial, Helvetica, sans-serif;
    font-size: 30px;
    padding: 4px 15px;
}
