.wrapper {
  height: 100vh;
}

.log-wrapper {
  overflow: hidden;
  transition: all 0.5s ease-in-out;
  height: 45vw;
  margin-bottom: 5vw;
}

.card {
  height: 45vw;
  width: 100%;
  display: flex;
  flex-direction: column;
  border-radius: 7vw;
  overflow: hidden;
}

.log-wrapper-item-enter {
  height: 0 !important;
  margin-bottom: 0 !important;
} 

.log-wrapper-item-exit-active {
  height: 0 !important;
  margin-bottom: 0 !important;
}
