.wrapper {
  height: 100vh;
}

.log-wrapper {
  overflow: hidden;
  transition: all 0.5s ease-in-out;
  height: 45vw;
  margin-bottom: 5vw;
}

.card {
  height: 45vw;
  width: 100%;
  display: flex;
  flex-direction: column;
  border-radius: 7vw;
  overflow: hidden;
}

.log-wrapper-item-enter {
  height: 0 !important;
  margin-bottom: 0 !important;
}

.log-wrapper-item-exit-active {
  height: 0 !important;
  margin-bottom: 0 !important;
}

.double-card {
  color: white;
  height: 100%;
  display: grid;
  place-items: center;
  grid-template-columns: 1fr 1fr;
  text-shadow: 0.5vw 0.5vw 0.5vw black;
  font-family: 'InterBold', sans-serif;
  font-size: 7vw;
}

.double-card div:nth-child(1) {
  border-right: 0.5vw solid transparent;
}

.double-card div:nth-child(2) {
  border-left: 0.5vw solid transparent;
}

.double-card-part {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0 2vw;
}
