/* Base styling */
* {
    margin: 0;
    padding: 0;
    color: white;
}

body {
    height: 100vh;
    background-color: gray;
    -webkit-app-region: drag;
}

#container {
    background-color: #0a0a0faf;
    border-radius: 20px;
    height: 100vh;
    overflow: hidden;
}

.wrapper {
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: calc(90vh);
    overflow: hidden;
}

.transparent {
    background-color: transparent;
}

button {
    -webkit-app-region: no-drag;
}

h1 {
    text-align: center;
    font-family: "SFBold", Arial, Helvetica, sans-serif;
}

h2 {
    font-family: "SFRegular", Arial, Helvetica, sans-serif;
}

.status {
    border: 2px solid rgb(0, 175, 0);
    color: rgb(0, 175, 0);
    background-color: transparent;
    width: fit-content;
    padding: 5px;
    border-radius: 10px;
}

p {
    font-family: "SFRegular", Arial, Helvetica, sans-serif;
    width: 50px !important;
    font-size: 30px;
    text-align: center;
}

.disclamer {
    font-size: 12px;
    width: 90% !important;
    position: absolute;
    bottom: 10px;
    color: gray;
}

button {
    background-color: transparent;
    padding: 10px 20px;
    font-family: "SFRegular", Arial, Helvetica, sans-serif;
    border-radius: 10px;
    outline: none;
    width: 130px;
    margin: 10px;
}

.hide {
    border: 2px solid red;
    color: red;
}

.small {
    border: 2px solid rgb(0, 102, 255);
    color: rgb(0, 102, 255);
}

.hidden {
    display: none;
}
