* {
    margin: 0;
    padding: 0;
    transition: 0.5s all ease;
    font-family: "SFBold";
    color: white;
}

body {
    -webkit-app-region: drag;
    height: 100vh;
    width: 100vw;
}

.container {
    background-color: #0a0a0faf;
    padding: 3vw;
    height: calc(100vh - 6vw);
    border-radius: 10vw;
}

.wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
}

.status {
    display: grid;
    grid-template-columns: 4fr 5fr;
    place-items: start;
    width: 90%;
}

h1 {
    padding: 5vw;
    color: gray;
    font-size: 10vw;
    text-align: center;
    border-radius: 7vw;
    margin-bottom: 4vw;
}

.header {
    width: 100%;
}

h2 {
    text-align: center;
    font-size: 6vw;
    align-self: center;
}

p {
    width: fit-content;
    font-size: 5vw;
    padding: 2vw;
    border-radius: 3vw;
    width: 90%;
    text-align: center;
}

.hidden {
    display: none !important;
}

.transparent {
    background: transparent !important;
}

/* Colors and backgrounds */
.green {
    background-color: rgb(0, 175, 0) !important;
    color: white;
}

.yellow {
    background-color: rgb(255, 230, 0) !important;
    color: black;
}

.orange {
    background-color: rgb(255, 123, 0) !important;
    color: white;
}

.red {
    background-color: rgb(209, 0, 0) !important;
}

.pink {
    background-color: pink !important;
    color: black;
}

.blue {
    background-color: rgb(0, 0, 199) !important;
    color: white;
}

.light-blue {
    background-color: rgb(53, 201, 251);
    color: black;
}

.white {
    background-color: white;
    color: black;
}

.gray {
    background-color: gray;
    color: black;
}

.black-background {
    background-color: black !important;
}

.black-text {
    color: black !important;
}
