.green {
  background-color: #3cd638;
}

.yellow {
  background-color: #ffe000;
}

.red {
  background-color: #fe0000;
}

.purple {
  background-color: #b123c4;
}

.blue_gray {
  background-color: #0a0b0f;
}

.dark_blue_gray {
  background-color: #12131c;
}

.white {
  background-color: white;
}

.black {
  background-color: black;
}
