/* @font-face {
  font-family: "f1";
  src: url("/fonts/formula1-bold_web_0-webfont.woff") format("woff");
} */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "f1", Arial, Helvetica, sans-serif;
    color: white;
}

.grid-item {
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}

.move {
    -webkit-app-region: drag;
    width: 100vw;
    height: 100vh;
}

.hide {
    display: none;
}

.flag {
    width: 100vw;
    height: 100vh;
    position: absolute;
}

.container {
    height: calc(100vh - 5vw);
    margin: 5vw;
    background-color: #12131c;
    border: 4px solid white;
    border-radius: 50px;
}
