@use '@renderer/assets/colors.scss' as Colors;

.new-window-section {
  display: flex;
  width: 60%;
  justify-content: space-evenly;
  color: Colors.$lighter-gray !important;
  font-size: 12px;
  align-items: center;
  white-space: nowrap;
}

.new-window-section p {
  font-family: 'InterBold';
}

h1 {
  font-size: 30px;
  padding: 30px;
  padding-bottom: 22.5px;
  color: Colors.$white;
  font-family: 'InterBold';
  text-align: center;
}

.line {
  background-color: Colors.$lighter-gray;
  height: 2px;
  width: 100%;
  margin: 10px;
}

.homepage-section {
  display: flex;
  width: 100vw;
  flex-direction: column;
  align-items: center;
  height: calc(100% - 80px);
  overflow: auto;
  background-color: Colors.$dark-gray;
  transition: all 0.7s ease;
}

.window {
  font-family: 'InterBold';
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  transition: all 0.5s ease;
  font-size: 17px;
  width: 60%;
  min-height: 40px;
  height: 40px;
  margin: 7.5px;
  border: 2px solid transparent;
  cursor: pointer;
}

.window:hover {
  transform: translate(3px, 3px);
}

.default-button {
  border: 2px solid Colors.$default-button !important;
  color: Colors.$default-button !important;
}

.default-button.disabled {
  background-color: transparent;
  border: 2px solid Colors.$default-button-disabled !important;
  color: Colors.$default-button-disabled !important;
  transform: translate(0, 0) !important;
  cursor: default;
}

.beta-button {
  border: 2px solid Colors.$beta-button !important;
  color: Colors.$beta-button !important;
}

.white-button {
  border: 2px solid Colors.$white-button !important;
  color: Colors.$white-button !important;
}

.white-button.disabled {
  background-color: transparent;
  border: 2px solid Colors.$white-button-disabled !important;
  color: Colors.$white-button-disabled !important;
  transform: translate(0, 0) !important;
  cursor: default;
}
