.container {
  width: 100vw;
  height: 100vh;
  -webkit-app-region: drag;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.panel {
  width: 100%;
  height: 100%;
  position: absolute;
  transition: 0.5s ease;
}

.session-status {
  align-self: center;
  width: 95%;
  height: 95%;
  position: absolute;
  transition: 0.5s ease;
  border-radius: 20px;
  background-color: white;
  z-index: 1;
}

.goveePanel {
  background-color: var(--black-translucent);
  border-radius: 20px;
  height: 150px;
  width: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  transition: all 0.5s ease;
}

.goveePanel .title {
  font-family: 'InterBold';
  font-size: 22px;
  color: var(--white);
}

.goveePanel .count {
  color: var(--light-green);
  font-family: 'InterBold';
  border: 3px solid var(--light-green);
  padding: 13px 18px;
  border-radius: 15px;
  font-size: 25px;
}
