* {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

body {
    background-color: gray;
    -webkit-app-region: drag;
}

.container {
    background-color: #0a0a0faf;
    height: 100vh;
    border-radius: 7vw;
    display: grid;
    place-items: center;
}

p {
    text-align: center;
    font-size: 18vw;
    padding: 5vw;
    color: white;
    font-family: "SFBold";
}

.transparent {
    background: transparent !important;
}
