@use '@renderer/assets/colors.scss' as Colors;

.container {
  padding: 0 2vw;
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 100%;

  .times {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    gap: 1vw;

    p {
      font-size: 5vw;
    }
  }

  .info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    gap: 1vw;

    p {
    }

    .position {
      font-size: 5vw;
    }

    .name {
      font-size: 4vw;

      p {
        color: Colors.$lighter-gray;
      }
    }
  }

  p {
    color: Colors.$white;
    transform: skew(-10deg) scaleY(0.9);
  }
}
