/* Connect menu */

.connections {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#connect {
    height: 0vh;
    width: 100vw;
    backdrop-filter: blur(1.5rem);
    background-color: #000000b4;
    position: fixed;
    display: flex;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
    z-index: 5;
    justify-content: center;
}

#connect h1 {
    position: absolute;
    top: 0;
}

#connect .wrapper {
    height: 70%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#connect .container {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#connect .text {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    background-color: #3030306b;
    padding: 10px !important;
    width: 400px;
    border-radius: 40px;
}

.connected {
    color: rgb(94, 255, 94);
}

.disconnected {
    color: rgb(255, 62, 62);
}

#connect .link {
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    transition: all 0.5s ease;
    font-size: 17px;
    width: 60%;
    min-height: 40px;
    height: 50px;
    margin: 7.5px;
    color: white;
    text-align: center;
    gap: 10px;
    border: 2px solid;
}

#connect .link:hover {
    transform: translate(3px, 3px);
}

.link.disabled {
    color: rgba(255, 255, 255, 0.26) !important;
    border-color: #9f9f9f38 !important;
}

#connect .link.connected {
    border-color: rgb(94, 255, 94);
}

#connect .link.connected span {
    color: rgb(94, 255, 94);
}

#connect .link.disconnected {
    border-color: rgb(255, 62, 62);
}

#connect .link.disconnected span {
    color: rgb(255, 62, 62);
}

.continue {
    all: unset;
    color: #9f9f9f;
    background-color: none;
    margin: 15px;
    font-size: 15px;
    position: absolute;
    bottom: 30px;
}
