* {
    margin: 0;
    padding: 0;
    font-family: "SFBold", Arial, Helvetica, sans-serif;
    color-scheme: dark;
}

body {
    background-color: rgb(50, 50, 50);
    text-align: center;
    height: 100vh;
}

.window {
    margin-left: 10%;
    margin-right: 10%;
    width: 70%;
    height: 40px;
    margin-bottom: 20px;
    display: inline-block;
    border-radius: 5em;
    background-color: #e80404;
    color: white;
    font-size: 1em;
    box-shadow: 4px 4px #000000;
    transition: all 0.5s ease;
    border: none;
}

.window:hover {
    transform: translate(4px, 4px);
    box-shadow: 0 0 #000000;
}

h1 {
    font-size: 5vw;
    padding: 30px;
    text-align: center;
    color: white;
    text-shadow: 0.5vw 0.5vw black;
}

#connect .wrapper {
    height: 70%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.connections h2 {
    padding: 20px !important;
    width: 250px;
    border-radius: 40px;
}

.connections {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 200px;
}

.red {
    background-color: transparent;
    border: 2px solid #e80404;
    color: #e80404;
}

.green {
    background-color: transparent;
    border: 2px solid #00ff00;
    color: #00ff00;
}

.line {
    background-color: white;
    height: 0.2vh;
    width: 90%;
    margin-left: 5%;
    margin-bottom: 20px;
}

.buttons {
    background: transparent;
    border: none;
    position: fixed !important;
    bottom: 0;
    right: 0;
}

#connection {
    left: 0;
    right: auto;
}

#settings-icon,
#connection-icon {
    transition: all 0.5s ease;
    width: 40px;
    margin: 20px;
}

.mode {
    background-color: #0290d0;
}

/* Connect menu */
#connect {
    height: 0vh;
    width: 100vw;
    backdrop-filter: blur(1.5rem);
    background-color: #000000b4;
    position: fixed;
    display: flex;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
}

#connect .text {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    background-color: #3030306b;
    padding: 10px !important;
    width: 400px;
    border-radius: 40px;
}

#connect .link {
    padding: 15px 30px;
    border-radius: 5em;
    background-color: #e80404;
    width: 300px;
    color: white;
    font-size: 20px;
    border: none;
    box-shadow: 3px 3px #000000;
    transition: all 0.5s ease;
}

#connect .link:hover {
    transform: translate(3px, 3px);
    box-shadow: 0 0 #000000;
}

#connect .link h2 {
    font-size: 20px;
}

#connect h2 {
    font-size: 15px;
    padding: 0;
}

.animation {
    transition: all 0.7s ease-in-out;
}

/* Settings menu */
#menu {
    overflow-y: scroll;
    padding: 0 8.5px;
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 0;
    transition: height 0.7s ease;
    width: 100vw;
    backdrop-filter: blur(1rem);
    background-color: #0f0f0f50;
}

#menu * {
    color: white;
}

.overflow {
    overflow: auto !important;
}

h2 {
    font-size: 20px;
    padding-bottom: 30px;
}

#menu p {
    font-family: "SFMedium", Arial, Helvetica, sans-serif;
}

.shown {
    height: 100vh !important;
}

.setting {
    display: flex;
    justify-content: space-between;
    height: 30px;
    padding: 15px;
}

.settings-section {
    padding: 20px 0;
    margin-top: 30px;
    background-color: #1f1f1f9f;
    border: 2px solid black;
    border-radius: 20px;
    max-width: 1000px;
    width: 90%;
}

#reset-defaults {
    right: -100px;
    bottom: 60px !important;
    background-color: #d32f2f;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    transition: all 0.4s ease-in-out;
    margin: 0px 15px 20px 0;
}

#reset-defaults.show {
    right: 0 !important;
}

#reset-defaults p {
    overflow: hidden;
    white-space: nowrap;
}

#reset-defaults:hover {
    width: 350px;
}

#reset-icon {
    padding: 15px;
    width: 30px;
}

.description {
    font-size: 20px;
}

#credits * {
    text-decoration: none;
}

#credits img {
    padding-left: 5px;
}

.option {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
}

.option option {
    background-color: black;
    border: 1px solid gray;
}

.selector {
    outline: none;
    border: 1px solid gray;
    background: transparent;
    padding: 5px;
}

/* Setting toggle switch */
.switch {
    position: relative;
    left: 0;
    display: inline-block;
    width: 40px;
    height: 24px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: 0.4s;
    transition: 0.4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: 0.4s;
    transition: 0.4s;
}

input:checked + .slider {
    background-color: #2196f3;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(16px);
    -ms-transform: translateX(16px);
    transform: translateX(16px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

/* Settings typer */
.typ {
    width: 100%;
}
