* {
    margin: 0;
    padding: 0;
    font-family: "SFBold";
}

body {
    background-color: rgb(50, 50, 50);
    text-align: center;
    height: 100vh;
}

.window {
    margin-left: 10%;
    margin-right: 10%;
    width: 60%;
    height: 5vw;
    margin-bottom: 3vw;
    display: inline-block;
    border-radius: 5em;
    background-color: #e80404;
    color: white;
    font-size: 1em;
    border: rgb(50, 50, 50);
    box-shadow: 0.5vw 0.5vw #000000;
    transition: all 0.5s ease;
}

.window:hover {
    transform: translate(0.5vw, 0.5vw);
    box-shadow: 0vw 0vw #000000;
    transition: all 0.5s ease;
}

h1 {
    font-size: 5vw;
    padding: 5%;
    text-align: center;
    color: white;
    text-shadow: 0.5vw 0.5vw black;
}

.line {
    background-color: white;
    height: 0.2vh;
    width: 90%;
    margin-left: 5%;
    margin-bottom: 3vw;
}

#options {
    background: transparent;
    border: none;
    position: fixed;
    bottom: 0;
    right: 0;
}

#settings-icon {
    transition: all 0.5s ease;
    width: 40px;
    margin: 20px;
}

.mode {
    background-color: #0290d0;
}

/* Settings menu */

#menu {
    overflow: hidden;
    position: fixed;
    display: block;
    height: 0;
    transition: height 1s ease;
    width: 100vw;
    backdrop-filter: blur(1rem);
}

.shown {
    height: 100vh !important;
}

/* Setting toggle switch */
.switch {
    position: absolute;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: 0.4s;
    transition: 0.4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: 0.4s;
    transition: 0.4s;
}

input:checked + .slider {
    background-color: #2196f3;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}
