* {
    margin: 0;
    padding: 0;
    font-family: "SFBold", Arial, Helvetica, sans-serif;
    color-scheme: dark;
}

body {
    background-color: rgb(15, 15, 15);
    text-align: center;
    height: 100vh;
}

::-webkit-scrollbar {
    display: none;
}

#sections {
    height: calc(100vh - 80px);
    overflow: auto;
    transition: all 0.5s ease;
}

.disabled {
    background-color: transparent;
    border: 2px solid #9f313162 !important;
    color: #9f313162 !important;
    transform: translate(0, 0) !important;
}

.disabled:hover {
    transform: translate(0, 0);
    box-shadow: 0 0 #000000;
}

h1 {
    font-size: 30px;
    padding: 30px;
    padding-bottom: 22.5px;
    color: white;
}

#connection {
    left: 0;
    right: auto;
}

.mode {
    background-color: #0290d0;
}

.animation {
    transition: all 0.7s ease-in-out;
}

/* Settings typer */
.typ {
    width: 100%;
}

#content-id-field {
    padding: 10px;
    border-radius: 10px;
    border: none;
    position: absolute;
    bottom: 100px;
}

.shown {
    height: calc(100vh - 80px) !important;
    max-height: calc(100vh - 80px) !important;
}

#connect.shown {
    height: 100vh !important;
    max-height: 100vh !important;
}

.overflow {
    overflow: auto !important;
}

h2 {
    font-size: 20px;
    padding-bottom: 10px;
}
