* {
    margin: 0;
    padding: 0;
    font-family: "SFBold", Arial, Helvetica, sans-serif;
    color-scheme: dark;
}

body {
    background-color: rgb(15, 15, 15);
    text-align: center;
    height: 100vh;
}

::-webkit-scrollbar {
    display: none;
}

#sections {
    height: calc(100vh - 80px);
    overflow: auto;
    transition: all 0.5s ease;
}

.disabled {
    background-color: transparent;
    border: 2px solid #9f313162 !important;
    color: #9f313162 !important;
    transform: translate(0, 0) !important;
}

.disabled:hover {
    transform: translate(0, 0);
    box-shadow: 0 0 #000000;
}

h1 {
    font-size: 30px;
    padding: 10px;
    padding-top: 20px;
    color: white;
}

.connections h2 {
    padding: 20px !important;
    width: 250px;
    border-radius: 40px;
}

.connections {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 200px;
}

.red {
    background-color: transparent;
    border: 2px solid #e80404;
    color: #e80404;
}

.green {
    background-color: transparent;
    border: 2px solid #00ff00;
    color: #00ff00;
}

.buttons {
    background: transparent;
    border: none;
    z-index: 4;
}

#connection {
    left: 0;
    right: auto;
}

.mode {
    background-color: #0290d0;
}

.animation {
    transition: all 0.7s ease-in-out;
}

/* Settings typer */
.typ {
    width: 100%;
}

#content-id-field {
    padding: 10px;
    border-radius: 10px;
    border: none;
    position: absolute;
    bottom: 100px;
}

.shown {
    height: 100vh !important;
    max-height: 100vh !important;
}

.overflow {
    overflow: auto !important;
}

h2 {
    font-size: 20px;
    padding-bottom: 30px;
}
