#tooltip {
    width: 60%;
    position: fixed;
    bottom: -100px;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px 20px;
    border-radius: 30px;
    border: 2px solid black;
    transition: all 0.5s ease;
    z-index: 4;
    display: grid;
    place-items: center;
    color: rgb(41, 41, 41);
}

#tooltip.show {
    bottom: 20px !important;
}
