.new-window-section {
    display: flex;
    width: 60%;
    justify-content: space-evenly;
    color: gray !important;
    font-size: 12px;
    align-items: center;
    white-space: nowrap;
}

.line {
    background-color: gray;
    height: 0.2vh;
    width: 100%;
    margin: 10px;
}

.windows {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* max-height: 100vh; */
    margin-bottom: 7.5px;
}

.window {
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    transition: all 0.5s ease;
    font-size: 17px;
    width: 60%;
    min-height: 40px;
    height: 40px;
    margin: 7.5px;
    border: 2px solid transparent;
}

.link.gray,
.window.gray {
    border-color: #9f9f9f;
    color: white;
}

.link.default,
.window.default {
    border-color: rgb(255, 50, 50);
    color: rgb(255, 50, 50);
}

.link.beta,
.window.beta {
    border-color: #c76cff;
    color: #c76cff;
}

.window:hover {
    transform: translate(3px, 3px);
}

#solid-color-windows {
    display: flex;
    justify-content: space-evenly;
}

#solid-color-windows:hover {
    transform: none;
}

.solid-color-window {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    box-shadow: 3px 3px #000000;
    transition: all 0.5s ease;
    border: 2px solid #9f9f9f;
    margin: 7.5px;
}

.solid-color-window:hover {
    transform: translate(3px, 3px);
    box-shadow: 0 0 #000000;
}
