@font-face {
    font-family: "SFBold";
    src: url("SF-Pro-Display-Bold.otf") format("opentype");
}

@font-face {
    font-family: "F1Bold";
    src: url("TitilliumWeb-Bold.ttf") format("truetype");
}

@font-face {
    font-family: "F1Italic-Bold";
    src: url("TitilliumWeb-BoldItalic.ttf") format("truetype");
}

@font-face {
    font-family: "F1Italic";
    src: url("TitilliumWeb-Italic.ttf") format("truetype");
}

@font-face {
    font-family: "F1Regular";
    src: url("TitilliumWeb-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "F1SemiBold";
    src: url("TitilliumWeb-SemiBold.ttf") format("truetype");
}

@font-face {
    font-family: "F1Italic-SemiBold";
    src: url("TitilliumWeb-SemiBoldItalic.ttf") format("truetype");
}

@font-face {
    font-family: "F1Wide";
    src: url("Formula1-Wide.ttf") format("truetype");
}
