* {
    margin: 0;
    padding: 0;
    transition: 1s all ease;
    overflow: hidden;
}

body {
    width: 100vw;
    height: 100vh;
}

.drag {
    -webkit-app-region: drag;
}

h1 {
    text-align: center;
    font-size: 2vw;
    color: white;
    width: 75%;
    font-family: "SFBold", Arial, Helvetica, sans-serif;
}

.icons-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10% !important;
    height: 80%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.logo-container {
    left: 0;
    border-right: 0.1vw solid rgb(90, 90, 90);
}

.icon-container {
    right: 0;
    border-left: 0.1vw solid rgb(90, 90, 90);
}

#RCM {
    width: 100vw;
    height: 100vh;
    background-color: #0a0a0faf;
    border-radius: 0 0 4vw 4vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.red {
    color: rgb(207, 0, 0);
}

.orange {
    color: rgb(255, 165, 0);
}

.green {
    color: rgb(0, 207, 0);
}

.logo {
    width: 5.5vw;
}

#icon {
    width: 5vw;
}

.shown {
    transform: translateY(0);
}

.hidden {
    transform: translateY(-100%);
}
