* {
    margin: 0;
    padding: 0;
    transition: 1s all ease;
    overflow: hidden;
}

body {
    width: 100vw;
    height: 100vh;
}

.drag {
    -webkit-app-region: drag;
}

h1 {
    text-align: center;
    font-size: 21px;
    color: white;
    width: 750px;
    font-family: "SFBold", Arial, Helvetica, sans-serif;
}

.icons-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px !important;
    height: 80px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.logo-container {
    left: 0;
    border-right: 1px solid rgb(90, 90, 90);
}

.icon-container {
    right: 0;
    border-left: 1px solid rgb(90, 90, 90);
}

#RCM {
    width: 100vw;
    height: 100px;
    background-color: #0a0a0faf;
    border-radius: 0 0 40px 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.red {
    color: rgb(207, 0, 0);
}

.orange {
    color: rgb(255, 165, 0);
}

.green {
    color: rgb(0, 207, 0);
}

.logo {
    width: 60px;
}

#icon {
    width: 50px;
}

.shown {
    transform: translateY(0px);
}

.hidden {
    transform: translateY(-100px);
}
