* {
    margin: 0;
    padding: 0;
    font-family: "SFBold", Arial, Helvetica, sans-serif;
}

body {
    overflow: hidden;
}

.drag {
    -webkit-app-region: drag;
}

.container {
    display: grid;
    grid-template-columns: 1fr 10fr 5fr;
    grid-template-rows: 100vh;
    background-color: #0a0a0faf;
    padding: 0 10px;
    border-radius: 40px;
}

.graphs {
    display: grid;
    grid-template-rows: calc(45vh) calc(45vh) 10vh;
    margin-top: 2.5vw;
    margin-right: 5vw;
}

.graph {
    height: 100% !important;
}

.buttons {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
}

.buttons button {
    width: 50px;
    padding: 8px 8px;
    border-radius: 10px;
    background-color: transparent;
    transition: all 0.3s ease;
    outline: none;
}

.big-decrease {
    border: 2px solid rgba(196, 0, 0, 0.774);
    color: rgba(196, 0, 0, 0.774);
}

.big-decrease:hover {
    background-color: rgba(196, 0, 0, 0.774);
    color: black;
}

.small-decrease {
    border: 2px solid rgba(255, 0, 0, 0.774);
    color: rgba(255, 0, 0, 0.774);
}

.small-decrease:hover {
    background-color: rgba(255, 0, 0, 0.774);
    color: black;
}

.reset {
    width: 60px !important;
    border: 2px solid #0069d9ab;
    color: #0069d9ab;
}

.reset:hover {
    background-color: #0069d9ab;
    color: black;
}

.small-increase {
    border: 2px solid #00ff3cab;
    color: #00ff3cab;
}

.small-increase:hover {
    background-color: #00ff3cab;
    color: black;
}

.big-increase {
    border: 2px solid #00b82bab;
    color: #00b82bab;
}

.big-increase:hover {
    background-color: #00b82bab;
    color: black;
}

.info {
    margin-top: 2.5vh;
    height: 95vh;
    display: grid;
    grid-template-rows: 5fr 1fr 5fr;
    place-items: center;
}

.bullet {
    height: 40vh;
    display: flex;
    width: 100%;
}

.rain {
    padding: 2vh;
    border-radius: 2vh;
    place-self: start;
}

.blue {
    background-color: #1e90ff;
}

.red {
    background-color: #ff4500;
}

.wind-direction {
    height: 40vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

#compass-container {
    height: 65%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#compass {
    height: 90%;
}

.wind-direction p {
    color: white;
}
