* {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

button {
    width: 100%;
    height: 100%;
    -webkit-app-region: drag;
    font-size: 17vw;
    font-weight: bold;
    text-align: center;
    color: white;
    font-family: "F1Bold";
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    -webkit-text-stroke: 2px black;
    border: none;
    background-color: gray;
}

.transparent {
    background: transparent !important;
}
