* {
    margin: 0;
    padding: 0;
    font-family: "F1Bold";
    transition: 1s all ease;
    overflow: hidden;
}

body {
    width: 100vw;
    height: 100vh;
}

#RCM {
    -webkit-app-region: drag;
}

h1 {
    text-align: center;
    font-size: 21px;
    color: white;
    width: 850px;
    padding-left: 110px;
    padding-right: 10px;
}

img {
    width: 60px;
    padding: 25px;
}

div {
    display: flex;
    justify-content: center;
    word-wrap: break-word;
    align-items: center;
    width: 100%;
    height: 100%;
    background-image: url(images/rcm6.png);
    /* background-repeat: no-repeat; */
    background-size: 100%;
    /* background-color: rgb(129, 129, 129); */
    border-radius: 0px 0px 25px 25px;
    margin: auto;
}

.shown {
    transform: translateY(0px);
}

/* #RCM {
    transform: translateY(0px) !important;
} */

.hidden {
    transform: translateY(-100px);
}
