* {
    margin: 0;
    padding: 0;
    color: white;
}

body {
    background-color: gray;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

.drag {
    -webkit-app-region: drag;
}

.transparent {
    background-color: transparent !important;
}

#container {
    height: 100vh;
    width: 100vw;
}

#wrapper {
    background-color: #0a0a0faf;
    border-radius: 25px;
    padding: 4vh 8vh;
    height: calc(55% - 8vh);
    width: calc(100% - 16vh);
    display: flex;
    justify-content: space-between;
    position: absolute;
    bottom: 20vh;
}

.driver {
    height: 100%;
    display: flex;
    gap: 7vh;
}

.driver-info {
    position: relative;
    top: calc(-40% - 3.5vh);
    height: calc(140% + 3.5vh);
    width: 65vh;
}

.driver-headshot {
    height: 70%;
    position: relative;
    border-bottom: 2px solid white;
    display: flex;
    justify-content: center;
}

.driver-headshot img {
    position: absolute;
    bottom: 0;
    height: 110%;
}

.driver-name {
    padding: 2vh 5vh;
}

.driver-name .first-name {
    padding-left: 1vh;
    font-family: "OF1Regular";
    font-size: 5vh;
    transform: skew(-10deg);
    text-shadow: 0.5vh 0.5vh 0.5vh black;
}

.driver-name .last-name {
    font-family: "OF1Bold";
    font-size: 7vh;
    transform: skew(-10deg);
    text-shadow: 0.5vh 0.5vh 0.5vh black;
}

.pitlane {
    padding: 1vh 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.position p {
    font-family: "OF1Bold";
    font-size: 6vh;
    transform: skew(-10deg);
}

.tires {
    width: 10vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.tires .current-tire img {
    width: 100%;
}

.tire-age {
    font-family: "SFBold";
    font-size: 7vh;
}

.pit {
    width: 100%;
    display: grid;
    place-items: center;
}

.pit p {
    font-family: "OF1Bold";
    border: 2px solid red;
    color: red;
    width: 10vh;
    padding: 1vh;
    border-radius: 3vh;
    display: grid;
    place-items: center;
    font-size: 6vh;
}

.times {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 40vh;
}

.time-name {
    font-family: "SFRegular";
    font-size: 7vh;
}

.time-time {
    font-family: "SFBold";
    font-size: 9vh;
}

.telemetry {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 50vh;
}

.drs p {
    padding: 1vh 5vh;
    width: fit-content;
    font-size: 8vh;
    border-radius: 2vh;
    font-family: "OF1Bold";
    text-align: center;
    border: 2px solid green;
    color: green;
}

.off {
    opacity: 0.3;
}

.speed {
    display: flex;
    gap: 2vh;
}

.speed-number {
    font-family: "OF1Bold";
    font-size: 8vh;
}

.metric {
    font-family: "OF1Regular";
    font-size: 5vh;
    top: 3vh;
    position: relative;
}

.pedals {
    height: 9vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 80%;
}

.pedal {
    border: 0.5vh solid black;
    height: 2vh;
    border-radius: 4vh;
    overflow: hidden;
}

.pedal div {
    width: 0;
    height: 100%;
    transition: all 0.2s ease;
}

.gap {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 10vh;
    padding: 0 10vh;
}

.gap .line {
    width: 100%;
    border-bottom: 1vh dashed white;
}

.gap .gap-time {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.gap .gap-time-time {
    font-family: "OF1Bold";
    white-space: nowrap;
    font-size: 10vh;
    transform: skew(-10deg);
}

.gap .gap-time-format {
    font-family: "OF1Regular";
    font-size: 6vh;
}

#container:hover #buttons {
    opacity: 1 !important;
}

#buttons {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100vw;
    background-color: #0a0a0faf;
    height: 18vh;
    border-radius: 5vh;
    opacity: 0;
    transition: all 0.5s ease;
    display: flex;
    justify-content: space-evenly;
    gap: 2vh;
    align-items: center;
}

.button {
    width: 24vh;
    height: 14vh;
    background-color: transparent;
    border-radius: 5vh;
    display: grid;
    place-items: center;
    border: 0.5vh solid;
    opacity: 0.6;
    outline: none;
    transition: all 0.5s ease;
    font-family: "SFBold";
    font-size: 7vh;
}

.button:hover {
    opacity: 1;
}

.green {
    background-color: green;
}

.fastest-time {
    color: #9c27b0;
}

.personal-best {
    color: #4caf50;
}

.red-text {
    color: red;
}

.slow {
    color: #fdd835;
}

.red {
    background-color: red;
}

.gray {
    color: rgba(255, 255, 255, 0.233);
}
