* {
    margin: 0;
    padding: 0;
    font-family: "SFBold";
    color: white;
    overflow: hidden;
}

body {
    height: 100vh;
    width: 100vw;
}

.drag {
    -webkit-app-region: drag;
}

.header {
    padding: 5vw;
}

.header h1 {
    font-size: 8vw;
}

.container {
    height: 100vh;
    width: 100vw;
}

.line {
    height: 2px;
    width: 100%;
    border-radius: 5vw;
    background-color: #0a0a0faf;
    margin: 3vw 0;
}

.wrapper {
    background-color: #0a0a0faf;
    border-radius: 6vw;
    text-align: center;
    margin-bottom: 3vw;
}

#logs .wrapper {
    height: 0;
    transition: all 0.5s ease;
}

#logs .wrapper.shown {
    height: 41.5vw;
}

#logs {
    display: flex;
    flex-direction: column-reverse;
}

.type {
    background-color: rgb(242, 254, 255);
}

.type p {
    color: black;
    padding: 3vw;
    font-size: 4.5vw;
}

.status {
    height: 20vw;
    place-items: center;
    width: 100vw;
    border-bottom: 1px solid white;
    display: grid;
}

.status p {
    font-size: 6vw;
}

.double {
    grid-template-columns: 1fr 1fr;
    place-items: initial !important;
}

.penalty {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 80%;
    justify-content: space-evenly;
}

.driver-first-name {
    font-size: 5vw !important;
    font-family: "SFRegular", Arial, Helvetica, sans-serif !important;
}

.driver-last-name {
    font-size: 6vw !important;
    transform: skew(-5deg);
}

.tires {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
}

.tires img {
    height: 6vw;
}

.arrow img {
    height: 4vw;
    width: 7vw;
}

.stoptime {
    color: aqua;
    transform: skew(-5deg);
    text-shadow: 0.5vw 0.5vw 0.5vw black;
}

.left {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-right: 1px solid white;
}

.highlight .type {
    background-color: rgb(255, 255, 37);
}

.highlight * {
    border-color: rgb(255, 255, 37) !important;
}

.right {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-left: 0.5vw solid white;
}

.right img {
    height: 90%;
}

.time {
    height: 10vw;
    width: 100%;
    background-color: transparent;
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center;
    overflow: visible;
    border-top: 0.5vw solid white;
}

.time p {
    font-size: 4vw;
}

.small-text {
    font-size: 4vw !important;
    color: rgba(255, 255, 255, 0.664);
}

.green {
    background: linear-gradient(to bottom, transparent 0%, rgba(0, 86, 0, 0.438) 100%);
}

.red {
    background: linear-gradient(to bottom, transparent 0%, rgba(197, 0, 0, 0.438) 100%);
}

.blue {
    background: linear-gradient(to bottom, transparent 0%, rgba(0, 0, 172, 0.438) 100%);
}

.yellow {
    background: linear-gradient(to bottom, transparent 0%, rgba(255, 255, 0, 0.438) 100%);
}

.orange {
    background: linear-gradient(to bottom, transparent 0%, rgba(255, 165, 0, 0.438) 100%);
}

.purple {
    background: linear-gradient(to bottom, transparent 0%, rgba(255, 0, 255, 0.438) 100%);
}

.white {
    background: linear-gradient(to bottom, transparent 0%, rgba(255, 255, 255, 0.438) 100%);
}
