* {
    margin: 0;
    padding: 0;
    overflow: hidden;
    text-align: center;
}

section {
    margin-top: 30px;
}

h1 {
    font-size: 10vw;
    font-family: "F1Bold";
}

p {
    font-size: 8vw;
    font-family: "F1Regular";
}
body {
    background-color: gray;
    -webkit-app-region: drag;
    width: 100vw;
    height: 100vh;
}
